<h1>Criar novo usuário</h1>

<form action="customers/create" method="POST">
<input type="text" name="nome" id="nome" placeholder="Nome">
<input type="number" name="altura" id="altura" placeholder="Altura">
<input type="number" name="idade" id="idade" placeholder="Digite a idade">

<p>Digite seu gênero</p>
<input type="radio" name="genero" value="masculino" checked="true">
<label for="masculino">Masculino</label>

<input type="radio" name="genero" value="feminino">
<label for="feminino">Feminino</label>

<input type="date" name="dataInclusao">

<input type="number" name="imc" >

<input type="submit" value="Cadastrar dados">

</form>
