
<div id="container-form">
    <h1>Criar novo usuário</h1>

<form action="/create" method="POST">

<input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
<input type="number" name="altura" id="altura" placeholder="Altura (cm)" required>
<input type="number" name="idade" id="idade" placeholder="Digite a idade" required>
<input type="number" name="peso" id="peso" placeholder="Digite seu peso (Kg)" required>

<div id="radio">
    <p>Gênero</p> 
    
    <input type="radio" name="genero" value="masculino" checked="true">
<label for="masculino"> Masculino</label>
<input type="radio" name="genero" value="feminino">
<label for="feminino">Feminino</label>
</div>




<input id="create" type="submit" value="Cadastrar">

</form>

</div>
