<div id="home">

    <header id="home-header">
        <h1>Bem vindo ao verificador de IMC´s</h1>
    </header>

<main>
        <div id="home-container">
            <button class="btn"><a href="customers/create">Cadastrar novo usuário</a></button>
            <button class="btn"><a href="customers">Usuários cadastrados</a></button>
        </div>
</main>

</div>
