#customers-header{
    margin-top: 30px;
    text-align: center;

}

#customers-header h1{
    color: rgb(66, 66, 66);

}

#customers-main{
    margin-top: 30px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-people{
    box-shadow: 1px 1px 10px black;
    border-radius: 30px;
    text-align: center;
    width: 250px;
    margin-top: 30px;
    background-color: whitesmoke;
    min-height: 200px;
}

.card-people h1{
    margin: 10px;
}

#btn-card-people{
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin-top: 20px;
}

#btn-card-people a{
    text-decoration: none;
}